/target/
!.mvn/wrapper/maven-wrapper.jar

### LOGS ###
*.log
*.gz
*.tmp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
eventscheduler.log
eventscheduler.log
*.log
*.log
*.log
